@{
    ViewData["Title"] = "Access Denied";
    ViewBag.hideNavbar = true;
}

@*<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">*@
    <header>
        <h1 class="text-danger">Access Denied.</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
@*</div>*@