@{
    ViewData["Title"] = "Locked out";
    ViewBag.hideNavbar = true;
}

@*<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">*@
    <header>
        <h1 class="text-danger">Locked out.</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>
@*</div>*@