@{
    ViewData["Title"] = "Reset password confirmation";
    ViewBag.hideNavbar = true;
}

@*<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">*@
    <h1>@ViewData["Title"].</h1>
    <p>
        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
    </p>
@*</div>*@