@model PicturesViewModel
@{
    ViewData["Title"] = "Pictures";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Pictures</h2>
    @if(Model != null && Model.Pictures.Count > 0)
    {
        <button class="btn btn-warning" style="margin-top:-50px; float:right" onclick="if(confirm('Are you sure you want to delete all these picture?')) deleteAllImages();">Delete All</button>
    }
    <hr />
    @if (Model != null && Model.Pictures.Count > 0)
    {
        foreach (var pic in Model.Pictures)
        {
            <div class="imageBlock">
                <a href="@pic" target="_blank"><img class="thumb" src="@pic" alt="images" /></a><br />
                <div class="deleteDiv">
                    <img id="icon-@pic.Segments.LastOrDefault()" class="deleteIcon" src="~/images/deleteImage.png" title="Delete Image" onclick="if(confirm('Are you sure you want to delete this picture?')) deleteImage('@pic.Segments.LastOrDefault()');" />
                    <div id="loader-@pic.Segments.LastOrDefault()" class="loader-delete" style="display:none;"></div>
                </div>       
            </div>
        }
    }
    else
    {
        <center>
            <h4>No pictures found</h4>
        </center>
    }
    <script>
        function deleteImage(item) {
            document.getElementById("icon-" + item).style.display = "none";
            document.getElementById("loader-" + item).style.display = "inline-block";

            var url = "/Pictures/DeleteImage";
            $.post(url, { Name: item }, function (data) {
                window.location.href = "/Pictures";
            });
        }
        function deleteAllImages() {
            $('.deleteIcon').addClass('hidden');

            var url = "/Pictures/DeleteAllImages";
            $.post(url, function (data) {
                window.location.href = "/Pictures";
            });
        }
    </script>
</div>
