@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.hideNavbar = true;
}

@*<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">*@
    <h3 class="text-danger">An error occurred while processing your request: @ViewData["message"]</h3><br />
    <strong>Stack Trace</strong> <br />
    @ViewData["trace"]
@*</div>*@
